.appBarContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.menuBar {
    display: flex;
    justify-content: space-between;
    background: #1e88e5;
    color: white;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    height: 70px;
}
.mainContentContainer {
    display: flex;
    flex: 1 0;
    background-color: #ECF3F7;
    position: relative;
}
.mainContent {
    width: calc(100% - 60px);
    border-radius: 10px;
    margin: 30px;
}