.sideNavContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: none none solid none;
    width: 240px;
    transition: width 0.5s;
    border-width: 3px;
    height: calc(100vh - 6px);
}
.sideNavMenuHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e88e5;
    color: white !important;
    padding: 5px 0 5px;
    height: 60px;
    width: 100%;
}
.sideNavReduced {
    transition: width 0.5s;
    width: 80px;
}
.sideNavHideMenusNames {
    display: none;
}
.sideNavMenuOptionsContainer:hover > .sideNavMenuOptions {
    color: #5FC2D6 !important;
}
.selectedMenuOption {
    border-radius: 5px;
    background-color: #5FC2D6 !important;
}
.selectedMenuOption > .sideNavMenuOptions {
    color: white !important;
}
.sideNavMenuOptions {
    display: flex;
    align-items: center;
    height: 30px;
    color: #607d8b !important;
}
.sideNavMenuIcons {
    margin-right: 10px;
}
.listOptionContainer {
    margin: 5px 10px 5px 10px;
}
a {
    text-decoration: none !important;
}
.raroIcon {
    border-radius: 20px;
}
.listContainer {
    width: 100%;
    margin: 20px 10px 50px 10px;
}