.selectedContributorContainer {
    display: flex;
    flex-grow: 100;
    flex-direction: column;
    height: 100%;
    width: 300px;
    padding: 0 20px 0 20px;
}
.selectedContributorInfo {
    margin: 20px;
}
.selectedContributorActionsContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.aux {
    display: flex;
    justify-content: space-between;
}
.actionsBtnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.editBtn {
    text-transform: none;
}
.deleteBtn {
    margin-left: 10px;
    text-transform: none;
    color: #E7596E;
    background-color: #F6E8EB
}